frontend/node_modules
backend/posts/node_modules
backend/user/node_modules
backend/client/node_modules
backend/authentication/node_modules
backend/favorites/node_modules
backend/feed/node_modules
backend/shared/node_modules
backend/media/node_modules
backend/messages/node_modules
backend/posts/Dockerfile
backend/user/Dockerfile
backend/client/Dockerfile
backend/authentication/Dockerfile
backend/favorites/Dockerfile
backend/feed/Dockerfile
backend/shared/Dockerfile
backend/media/Dockerfile
backend/messages/Dockerfile
frontend/Dockerfile
.dockerignore
npm-debug.log
.env